#ezp-container {
	margin: 20px;
}

#ezp-container .hide {
	display: none;
}

#ezp-container .tabbable {
	float: left;
}

#ezp-container .image {
    float: left;
    padding: 2px;
    width: 100px;
    height: 75px;
    background-position: center;

    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    margin: 4px;
}

/*#ezp-container .image img { width: 150px; height: 100px; margin: -25px 0 0 -50px; }*/

#ezp-container .image-tray 
{
    border-radius: 4px;
    padding: 2px;
    margin: 4px;
}
#ezp-container .image-tray .header, 
#ezp-container .image-tray .body 
{
    background-color: #e6e6e6;
}
/* don't really need this here but it works as an example */
#ezp-container *[class*="list"] {
    float: left;
}

#ezp-container .listv
{
    width: 300px;
}

#ezp-container .image-list
{
    list-style: none;
    height: 300px;
    overflow: auto;
}

#ezp-container .tab-pane
{
    height: 300px;
}

#ezp-templates 
{
	display: none;
   
}

#ezp-container .tab-content
{
    border: 1px solid #DDD;
    border-radius: 4px;
    width: 308px;
}

#ezp-container .tabs-left > .nav-tabs 
{
    margin-right: 0px;
    border-right: 0px;
}

#ezp-container .editor {
    border: 1px solid #DDD;
    float:left;
    margin: 4px;
}
